@font-face {
    font-family: "e-ukraine-bold";
    src: url(../fonts/e-Ukraine/e-ukraine-bold_w.ttf) format("TrueType");
}

@font-face {
    font-family: "e-ukraine-medium";
    src: url(../fonts/e-Ukraine/e-ukraine-medium_w.ttf) format("TrueType");
}

@font-face {
    font-family: "e-ukraine-regular";
    src: url(../fonts/e-Ukraine/e-ukraine-regular_w.ttf) format("TrueType");
}

* {
    font-family: 'e-ukraine-medium';
    font-size: 17px;
}

a {
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "e-ukraine-bold";
}

h1{
    font-size: 36px;
}

h2 {
    font-size: 40px;
}

h2 span {
    color: #FAFAFA;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 28px;
}

h6 {
    font-size: 15px;
}

hr {
    color: #7E6F5E;
    /* width: 75% !important; */
}

.cast_button {
    font-size: 17px;
    font-family: "e-ukraine-medium";
    background-color: #E0D0C1;
    padding: 10px;
    border-radius: 5%;
}

textarea {
    padding: 5px;
    resize: none;
    border: solid 1px #A59D92;
}

.modal-header {
    font-family: 'e-ukraine-medium_w';
    padding: 0 10px;
    border: none;
}

.modal {
    font-family: 'e-ukraine-regular_w';
    font-size: 20px;
}

.modal label{
    padding: 0;
    color: #A59D92;
}

.modal input{
    border: solid 1px #A59D92;
    padding: 5px;
}

.modal .submit{
    font-family: 'e-ukraine-bold_w';
    background-color: #E0D0C1;
    margin-top: 10px;
}

.modal .close{
    font-size: 30px;
}

.modal form{
    padding-bottom: 30px;
}

.social {
    position: fixed;
    bottom: 120px;
    right: 5px;
    z-index: 999;
}

.chat {
    position: fixed;
    bottom:5px;
    right: 5px;
    z-index: 999;
}

.social img,
.chat img {
    max-width: 30px;
    
}

header span {
    color: #E0D0C1;
    font-size: 24px;
}

.section1 {
    background: #B3AAA3;
    font-family: 'e-ukraine-bold_w';
}

.section1 .description {
    font-size: 24px;
    color: #FAFAFA;
}

.section1 span {
    text-shadow: #fffff7 1px 0 10px;
    font-size: inherit;
}

.cast_button:hover {
    background-color: #FFE5B4;
}

.section1 img:hover {
    transform: scale(1.2);
}

.section2 a {
    
    background-color: #E0D0C1;
    padding: 12px;
    border-radius: 5%;
}

.section2 p {
    font-size: 15px;
    text-align: justify;
    margin-bottom: 5px;
}

.section2 .buttons  {
    font-size: 24px;
    padding-left: 0;
    padding-right: 0;
}

.section3 {
    background-color: #B3AAA3;
}

.section3 .calculation {
    background-color: white;
    border-radius: 60px 0;
    padding: 0px 50px;
}

/* .section3 .calculation h4 {
    font-size: 20px;
} */

.section3 .calculation p {
    text-align: justify;
    font-size: 15px;
}

.section3 .calculation a {
    text-align: center;
    background-color: #7E6F5E;
    color: white;
    /* padding: 20px; */
    padding: 10px;
    font-size: 20px;
}

.section4{
    font-family: 'e-ukraine-bold_w';
    font-size: 20px;
}

.section45 {
    background-color: #B3AAA3;
    color: whitesmoke;
}

.section45 img {
    max-height: 500px;
} 

.section45 p {
    font-size: 17px;
    text-align: justify;
    padding: 0 10px;
}

.section6 p{
    color: white;
    text-align: center;
}

.section6 .feedback1{
    background-image: url('../assets/feadback/1.jpg');
    background-size: cover;
}

footer {
    background-color: #B3AAA3;
}

footer .contacts {
    font-size: 30px;
}

footer a {
    color: white;
    font-size: 24px;
}

footer h2 {
    margin-top: 30px !important;
}

@media (min-width: 998px) {
    h2 {
        font-size: 76px;
    }

    h3 {
        font-size: 48px;
    }

    h6 {
        font-size: 24px;
    }
    
    .section1 .description {
        font-size: 36px;
    }

    .section3 .calculation p {
        font-size: 20px;
    }

    .section3 .calculation a {
        font-size: 24px;
    }

    footer a {
        font-size: 36px;
    }

    .social {
        position: fixed;
        top: 100px;
        right: 8px;
    }
    
    .chat {
        position: fixed;
        bottom:20px;
        right: 8px;
    }
    
    .social img,
    .chat img {
        max-width: 36px;
    }

    .cast_button {
        padding: 10px 14px;
    }
}