@font-face {
    font-family: "e-ukraine-bold_w";
    src: url(fonts/e-Ukraine/e-ukraine-bold_w.ttf) format("truetype");
}

@font-face {
    font-family: "e-ukraine-light_w";
    src: url(fonts/e-Ukraine/e-ukraine-light_w.ttf) format("truetype");
}

@font-face {
    font-family: "e-ukraine-medium_w";
    src: url(fonts/e-Ukraine/e-ukraine-medium_w.ttf) format("truetype");
}

@font-face {
    font-family: "e-ukraine-regular_w";
    src: url(fonts/e-Ukraine/e-ukraine-regular_w.ttf) format("truetype");
}

@font-face {
    font-family: "e-ukraine-thin_w";
    src: url(fonts/e-Ukraine/e-ukraine-thin_w.ttf) format("truetype");
}

@font-face {
    font-family: "e-ukraine-ultralight_w";
    src: url(fonts/e-Ukraine/e-ukraine-ultralight_w.ttf) format("truetype");
}


* {
    font-family: 'e-ukraine-medium_w';
    font-size: 17px;
}

a {
    color: black;
}

#modal_request .modal-header {
    font-family: 'e-ukraine-medium_w';
    padding: 0 10px;
    border: none;
}

#modal_request {
    font-family: 'e-ukraine-regular_w';
    font-size: 20;
}

#modal_request label{
    padding: 0;
    color: #A59D92;
}

#modal_request input{
    border: solid 1px #A59D92;
}

#modal_request .submit{
    font-family: 'e-ukraine-bold_w';
    background-color: #E0D0C1;
    margin-top: 10px;
}

#modal_request .close{
    font-size: 30px;
}

#modal_request form{
    padding-bottom: 50px;
}


header nav a,  header nav button{
    
    background-color: #E0D0C1;
    padding: 12px;
    border-radius: 5%;
    margin-left: 20px;
}

header .cart {
    border: 2px solid #E0D0C1;
    border-radius: 100px;
    padding: 5px 10px;
}

header span {
    color: #E0D0C1;
    font-size: 24px;
}

header .cart img {
    max-height: 50px;
}


.section1 {
    background: #B3AAA3;
    font-family: 'e-ukraine-bold_w';
}

.section1 h2 {
    font-size: 90px;
}

.section1 h3 {
    font-size: 36px;
}

.section1 h3, .section1 span {
    color: #FAFAFA;
    
}

/* .section1 span {
    -webkit-box-shadow: 0px 0px 26px 27px rgba(255, 255, 247, 0.65);
    -moz-box-shadow: 0px 0px 26px 27px rgba(255, 255, 247, 0.65);
    box-shadow: 0px 0px 26px 27px rgba(255, 255, 247, 0.65);
} */

.section1 span {
    text-shadow: #fffff7 1px 0 10px;
    font-size: inherit;
}

.section1 .social {
    position: fixed;
    top: 100px;
    right: 5px;
}

.section1 .social img {
    max-width: 48px;
}

/* .section1 img {
    max-width: 96px;
} */


.section2 a {
    
    background-color: #E0D0C1;
    padding: 12px;
    border-radius: 5%;
}

.section2 p {
    font-size: 17px;
    text-align: justify;
}

.section2 .buttons  {
    font-size: 24px;
    padding-left: 0;
    padding-right: 0;
}

.section3 {
    background-color: #B3AAA3;
}

.section3 .calculation {
    background-color: white;
    /* border-radius: 57px; */
    border-radius: 60px 0;
    padding: 30px;
}

.section3 .calculation h4 {
    font-family: 'e-ukraine-bold_w';
    font-size: 35px;
}

.section3 .calculation p {
    text-align: justify;
    font-size: 20px;
}

.section3 .calculation a {
    text-align: center;
    background-color: #7E6F5E;
    color: white;
    padding: 20px;
    font-size: 24px;
}

.section4{
    font-family: 'e-ukraine-bold_w';
    font-size: 20px;
}

.section4 h4 {
    font-size: 48px;
}

.section6 p{
    color: white;
    text-align: center;
}

.section6 .feedback1{
    background-image: url('../assets/feadback/1.jpg');
    background-size: cover;
}

footer {
    background-color: #B3AAA3;
}

footer .contacts {
    font-size: 30px;
}

footer a {
    color: white;
    font-size: 32px;
}